PORT=3003
MONGO_URI=mongodb://mongodb:27017/order_db
AUTH_SERVICE_URL=http://auth-service:3001
RESTAURANT_SERVICE_URL=http://restaurant-service:3002
NOTIFICATION_SERVICE_URL=http://notification-service:3005
ALLOWED_ORIGINS=http://localhost:3000
